body{
	background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-attachment: fixed;
	font-family: "Century Gothic", Futura, Verdana, sans-serif;/*整个字体家族都要打上去，且第一个是首选字体，要打引号；后面的为备选字体*/
	font-size: 22pt; 
	text-align: center;
}

a{
	color: black;
}