h1 {
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: "Century Gothic", Futura, Verdana, sans-serif;/*整个字体家族都要打上去且“世纪哥特”要打引号*/
	font-size: 22pt; 
	font-weight: bold;
	letter-spacing: 0.2em;
	text-decoration: underline;
	text-align:center;
}

h2 {
	color: #A4A400;
	background-color: #F0F0F0;
	font-family: "Century Gothic", Futura, Verdana, sans-serif;
	font-size: 18pt; 
	font-style: normal;
	letter-spacing: 0.2em; 
	text-decoration: underline;
	text-align: left;
}

body {
   	background-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-attachment: fixed;
   	color: #404040;
   	font-family: Georgia;
  	font-size: 11pt; 
}
blockquote{
	background-color: #FFFFC8;
	font-style: italic;
}

a {
	color: #A4A400;
}

ul {
	list-style-image: url(https://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}

img {
	border: 0;
}