body{
  background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000);
  font-size: 8pt;
  font-family: "Verdana", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

#banner{
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/bannerbackground.png?version=1&modificationDate=1268896312000);
  background-repeat: repeat-x;

}

h1{
  font-size: 24pt;
  font-weight: bold;
  font-family: "Tahoma", Verdana,sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#content{
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border-color: grey;
  border-width: 4px;
  border-style: solid;
  overflow: hidden;
}

#right{
  width: 250px;
  float: right;
  background-color: #A2B964;
  font-size: 8pt;
  font-family: "Arial", sans-serif;
  display: inline-block;
}

dl{
  padding: 10px;
  padding-top: 0;
  padding-bottom: 10px;
  margin: 0;
}

dt{
  margin-top: 1em;
  font-weight: bold;
}

#left{
  width: 550px;
  display: inline-block;
}

#title{
  background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
  background-repeat: repeat-x;
  height: 83px;
}

#rating{
  color: red;
  font-weight: bold;
  font-size: 48pt;
  vertical-align: bottom;
}

#reviewnumber{
  color: white;
  font-style: normal;
  font-size: 8pt;
  position: relative;
  top:-12px;
}

#column1{
  width: 47%;
  margin-left: 2%;
  float: left;
}

#column2{
  width: 47%;
  margin-left: 2%;
  margin-right: 2%;
  float: right;
}

#row1{
  height: 103.5px;
}

.quote{
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  background-color: #E1D697;
  padding: 8px;
  font-size: 8pt;
  font-weight: bold;
  overflow: hidden;
  clear: left;
}

.quotepic{
  float: left;
  margin-right: 5px;
}

.information{
  width: 250px;
  padding: 10px;
  font-style: italic;
}

.ifmpic{
  float: left;
  margin-right: 5px;
  margin-bottom: 3em;
}

#pages{
  background-color: #A2B964;
  text-align: center;
  margin-bottom: 0;
  padding: 5px;
}

.link{
  border: 0;
  position: fixed;
  right: 0px;
  bottom: 0px;
}
